
<div *ngIf="availableDevices">
    <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Choose Camera</label>
            </div>
            <select class="custom-select" (change)="onDeviceSelectChange($event.target.value)">
                    <option value="" [selected]="!selectedDevice">No Device</option>
                    <option *ngFor="let device of availableDevices" [value]="device.deviceId" [selected]="selectedDevice && device.deviceId === selectedDevice.deviceId">{{ device.label }}</option>
                </select>
            </div>
</div>
<div [hidden]="!hasCameras" class="test-class" >
    <zxing-scanner #scanner class="test-class" start="true" [device]="selectedDevice" (scanSuccess)="handleQrCodeResult($event)"></zxing-scanner>
    <h2 *ngIf="!this.selectedDevice">No camera selected.</h2>
</div>
<div *ngIf="!hasCameras && hasPermission === true">
<h1>Looks like your actual device does not has cameras, or I could no find'em. </h1>
</div>
<div *ngIf="hasPermission === undefined">
<h1>Waiting for permissions.</h1>
<blockquote>
    <h2>If your device does not has cameras, no permissions will be asked.</h2>
</blockquote>
</div>
<div *ngIf="hasPermission === false">
<h1>You denied the camera permissions, we can't scan anything without it. 😪</h1>
</div>