<div class="container" style=" height: 100%; min-height:800px">
  <div class="row">
    <div class="col1 offset-4">
      <div class="card card-primary card-inverse" style="margin-top:8%">
        <div class="card-header" style="color: #fff;background-color: #094162;border-color: #2e6da4;">
          <h5 align="center">Check In/Check Out</h5>
        </div>
        <div class="card-body">
          <div class="row justify-content-center">
            <small class="" style="color:#607D8B;">My QR Code</small>
          </div>
          <div class="row justify-content-center">
            <qr-code [data]="qrData"></qr-code>
          </div>
          <div class="row justify-content-center">
            <small style="color:#607D8B; text-align: center; padding: 0 10px">Please scan this at vendor scanner to
              check-in/check-out
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
