<div class="container">
    <div class="row">
        <div class="col-sm">
        <div class="card" style="width: 30rem">
                <h5 class="card-header bg-primary text-white">Scanner</h5>
                <div class="card-body">
                    <div class="card-text">
                    <qr-scanner *ngIf="openForScan" [vendorData]="aadhaarNo" (qrData)="sendSwipeRequest($event)" ></qr-scanner>
                    <div *ngIf="!openForScan" style="width: 400px; height: 400px; background-color: black;"></div>
                </div>
                    <br />
                    <div class="alert alert-success" role="alert" *ngIf="showAlertMessage">
                            {{alertMessage}}
                    </div>
                    <p>
                            <strong>Customer Aadhaar: </strong>{{ customerAadhaar }}
                    </p>
                    <br />
                    <button class="btn btn-primary" (click)="openAgain()" *ngIf="!openForScan">Scan</button>
                    <button class="btn btn-danger" (click)="close()" *ngIf="openForScan">Close</button>
                </div>
                </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 30rem">
                <h5 class="card-header bg-success text-white">Transactions</h5>
                <div class="card-body">
                    <div class="card-text">
                            <div *ngFor="let transaction of transactionDetails">
                               <div class="card">
                                    <h5 *ngIf="transaction.fare != undefined"class="card-header">{{transaction.fare}}</h5>
                                    <h5 *ngIf="transaction.fare === undefined"class="card-header bg-danger text-white">Ongoing Transaction</h5>
                                    <div class="card-body">
                                        <div class="card-text">
                                            From : {{this.transaction.from}}
                                            <br />
                                            Date : {{this.transaction.date}}
                                        </div>
                                    </div>
                               </div>
                               <br />
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



