<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12" style="min-height:500px;padding: 0">
  <div class="row">
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" style="padding: 0">
      <div class="card card-primary card-inverse">
        <div class="card-header" style="color: #fff;background-color: #303F9F;">
          <h5>My Profile</h5>
        </div>
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col">
                <p class="card-text"> <span style="width:20px"><b> Aadhaar Number: </b></span>  <span>Prateek</span></p>
                <p class="card-text"> <span style="width:20px"><b> First Name: </b></span>  <span>Prateek</span></p>
                <p class="card-text"> <span style="width:20px"><b> Last Name: </b></span>  <span>Prateek</span></p>
                <p class="card-text"> <span style="width:20px"><b> Mobile Number: </b></span>  <span>Prateek</span></p>
                <p class="card-text"> <span style="width:20px"><b> Email: </b></span>  <span>Prateek</span></p>
              </div>
              <div class="col">

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
      <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12"></div>

      <div class="card card-primary card-inverse">
        <div class="card-header" style="color: #fff;background-color: #303F9F;">
          <h5>Travel Route</h5>
        </div>
        <div class="card-body">
          <div class="container">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
