<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12" *ngIf="!moveToAuth" style="background-image: url('../../assets/background/METRO.jpg'); height: 100%;

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;   min-height:800px">
  <div class="row">
    <div class="col-md-4 col-lg-4 col-xs-6 col-md-offset-4">
    </div>
    <div class="col-md-4 col-lg-4 col-xs-6 col-md-offset-4">

      <div class="card card-primary card-inverse" style="margin-top:35%">
        <div class="card-header" style="color: #fff;background-color: #094162;border-color: #2e6da4;">
          <h5 align="center">Login</h5>
        </div>
        <div class="card-body">
          <div class="row justify-content-center">
            <img src="../../assets/background/digital.jpg" style="width:300px; height:200px"/>
          </div>
          <div class="form">
            <div class="input-group" style="margin-top:10px; margin-bottom:10px">
              <div class="input-group-prepend">
                <span class="input-group-text" id="aadhaar" style="width: 100px">Aadhaar</span>
              </div>
              <input type="text" class="form-control" aria-describedby="inputGroupPrepend" id="aadharInput"
                     placeholder=" XXXX-XXXX-XXXX "
                      name="aadharId" [(ngModel)]="aadhar" required>
            </div>
            <div class="row justify-content-center">
              <button style="margin-top: 20px" type="submit" class="btn btn-success" (click)="tryLoggingIn()">Request
                OTP
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-4 col-xs-6 col-md-offset-4">

    </div>
  </div>
</div>
<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12" *ngIf="moveToAuth" style="background-image: url('../../assets/background/METRO.jpg'); height: 100%;

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;   min-height:800px">
  <div class="row">
    <div class="col-md-4 col-lg-4 col-xs-6 col-md-offset-4">
    </div>
    <div class="col-md-4 col-lg-4 col-xs-6 col-md-offset-4">
      <div class="card card-primary card-inverse" style="margin-top:35%">
        <div class="card-header" style="color: #fff;background-color: #094162;border-color: #2e6da4;">
          <h5 align="center">OTP Authentication</h5>
        </div>
        <div class="card-body">
          <div class="row justify-content-center">
            <img src="../../assets/background/digital.jpg" style="width:300px; height:200px"/>
          </div>
          <div class="form">
            <div class="input-group" style="margin-top:10px; margin-bottom:10px">
              <div class="input-group-prepend">
                <span class="input-group-text" id="otp" style="width: 100px">OTP</span>
              </div>
              <input type="text" class="form-control" aria-describedby="inputGroupPrepend" id="otpInput"
                     placeholder=" XXXX " #sourc name="aadharId"
                     [(ngModel)]="code" required>
            </div>
            <div class="row justify-content-center">
              <button style="margin-top: 20px" type="submit" class="btn btn-success" (click)="verifyCode()">Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
