<div class="col-lg-12" style=" height: 100%; min-height:800px">
  <div class="row">
    <div class="col-lg-3">
      <div class="container">
        <div class="row">
          <div class="card card-primary card-inverse" style="width: 100%">
            <div class="card-header" style="color: #fff;background-color: #303F9F;border-color: #2e6da4;">
              <h5 align="center">Wallet</h5>
            </div>
            <div class="card-body">
              <p class="card-text"> <span style="width:20px"><b> Aadhaar Number: </b></span>  <span>{{aadhaarNo}}</span></p>
              <p class="card-text"> <span style="width:20px"><b> First Name: </b></span>  <span>{{firstName}}</span></p>
              <p class="card-text"> <span style="width:20px"><b> Last Name: </b></span>  <span>{{lastName}}</span></p>
              <p class="card-text"> <span style="width:20px"><b> Mobile Number: </b></span>  <span>{{mobile}}</span></p>
              <p class="card-text"> <span style="width:20px"><b> Email: </b></span>  <span>{{email}}</span></p>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="card card-primary card-inverse" style="width: 100%">
            <div class="card-header" style="color: #fff;background-color: #303F9F;border-color: #2e6da4;">
              <h5 align="center">Wallet</h5>
            </div>
            <div class="card-body">
              <div class="justify-content-center">
                <small style="color:#607D8B;">My QR Code</small>
                <qr-code [data]="qrData"></qr-code>
              </div>
              <div style="margin-top:15px">
                <h3>Wallet Balance : <span style="color: green">₹ {{ walletBalance }}</span></h3>
              </div>
              <br>
              <div class="form">
                <div class="input-group" style="margin-top:10px; margin-bottom:10px">
                  <div class="input-group-prepend">
                  <span class="input-group-text"
                        id="inputGroupPrepend">&nbsp;&nbsp;&nbsp;₹&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  </div>
                  <input type="number" class="form-control" aria-describedby="inputGroupPrepend" name="amount"
                         class="form-control" id="amount" value="0.00" [(ngModel)]="amount" required>
                </div>
                <div class="row justify-content-center">
                  <button style="margin-top: 20px" type="submit" class="btn btn-success" (click)="initPay(amount)">Add
                    Money
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="card card-primary card-inverse">
        <div class="card-header" style="color: #fff;background-color: #303F9F;border-color: #2e6da4;">
          <h5 align="center">Recent Transactions</h5>
        </div>
        <div class="card-body">
          <table class="table table-hover">
            <thead>
            <tr align="center">
              <th scope="col">Date</th>
              <th scope="col">Fare(₹)</th>
              <th scope="col">Distance(Kms)</th>
              <th scope="col">Time(mins)</th>
              <th scope="col">Mode</th>
            </tr>
            </thead>
            <tbody>
            <ng-container  *ngFor="let res of transactionDetails">
              <tr align="center" *ngIf="res.transactionStatus == 2">
                <th scope="row">{{this.convertDate(res.date)}}</th>
                <td>{{res.fare}}</td>
                <td>{{res.distance / 1000 | number : '0.0-2'}}</td>
                <td>{{res.travelTime / 60 | number : '0.0-2'}}</td>
                <td>{{res.mode}}</td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

