<nav class="navbar navbar-expand navbar-dark fixed-top" style="background-color: #263238">
  <a class="navbar-brand" href="#">
    <img src="../../assets/icons/auto.png" style="height:30px; padding-top: 5px" class="d-inline-block align-top">
    Let's Move India
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" (click)="loadPage('home')"
          *ngIf="undefined != this.firstName && this.firstName.length > 0"
          style="cursor:pointer">
        <a class="nav-link white">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" (click)="loadPage('checkin')"
          *ngIf="undefined != this.firstName && this.firstName.length > 0"
          style="cursor:pointer">
        <a class="nav-link white">Check In/Check Out<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" (click)="loadPage('login')"
          *ngIf="undefined == this.firstName || this.firstName.length == 0"
          style="cursor:pointer">
        <a class="nav-link white">Login <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" (click)="loadPage('signup')"
          *ngIf="undefined == this.firstName || this.firstName.length == 0"
          style="cursor:pointer">
        <a class="nav-link white">Signup <span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <span class="navbar-text" (click)="loadPage('wallet')"
          *ngIf="undefined != this.firstName && this.firstName.length > 0"
          style="cursor:pointer">
        <a class=" white" style="padding-right: 10px">{{firstName}} &nbsp;{{lastName}}</a>
    </span>
    <span class="navbar-text"
          *ngIf="undefined != this.firstName && this.firstName.length > 0"
          style="cursor:pointer" (click)="logout()" style="cursor:pointer">
        <span class="white">Logout</span>
    </span>
  </div>
</nav>
