<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12" *ngIf="!moveToAuth" style="background-image: url('../../assets/background/METRO.jpg'); height: 100%;

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;   min-height:800px">
  <div class="col-4 offset-4" style="padding-bottom: 30px">
    <div class="row justify-content-center">
      <div class="card" style="margin-top: 8%">
        <div class="card-body">
          <img src="../../assets/background/adhar.png" style="width:150px;height: 100px;"/>
        </div>
      </div>
    </div>
    <div class="card card-primary card-inverse" style="margin-top:8%">
      <div class="card-header" style="color: #fff;background-color: #094162;border-color: #2e6da4;">
        <h5 align="center">Register</h5>
      </div>
      <div class="card-body">
        <div class="form">
          <div class="input-group" style="margin-top:10px; margin-bottom:10px">
            <div class="input-group-prepend">
              <span class="input-group-text" id="aadhaar" style="width: 100px">Aadhaar</span>
            </div>
            <input type="number" class="form-control" aria-describedby="inputGroupPrepend" id="aadharId"
                   placeholder=" XXXX-XXXX-XXXX "
                   #sourc="ngModel" name="aadharId" [(ngModel)]="aadhar" minlength="12" maxlength="12" required>
          </div>
          <div class="input-group" style="margin-top:10px; margin-bottom:10px">
            <div class="input-group-prepend">
              <span class="input-group-text" id="Mobile" style="width: 100px">Mobile</span>
            </div>
            <input type="number" class="form-control" aria-describedby="inputGroupPrepend" placeholder=" 999999999 "
                   id="phoneNo" name="phoneNo"
                   name="phoneNo" [(ngModel)]="phoneNo" required>
          </div>
          <div class="input-group" style="margin-top:10px; margin-bottom:10px">
            <div class="input-group-prepend">
              <span class="input-group-text" id="fName" style="width: 100px">First Name</span>
            </div>
            <input type="text" class="form-control" aria-describedby="inputGroupPrepend" placeholder="" name="firstName"
                   name="firstName"
                   [(ngModel)]="firstName" required>
          </div>
          <div class="input-group" style="margin-top:10px; margin-bottom:10px">
            <div class="input-group-prepend">
              <span class="input-group-text" id="lName" style="width: 100px">Last Name</span>
            </div>
            <input type="text" class="form-control" aria-describedby="inputGroupPrepend" placeholder="" name="lastName"
                   name="lastName"
                   [(ngModel)]="lastName" required>
          </div>
          <div class="input-group" style="margin-top:10px; margin-bottom:10px">
            <div class="input-group-prepend">
              <span class="input-group-text" id="email" style="width: 100px">Email</span>
            </div>
            <input type="email" class="form-control" aria-describedby="inputGroupPrepend" placeholder="user@example.com"
                   name="email"
                   name="email" [(ngModel)]="email" required>

          </div>

          <div class="input-group" style="margin-top:10px; margin-bottom:10px">
            <div class="input-group-prepend">
              <span class="input-group-text" id="userType" style="width: 100px">User Type</span>
            </div>

            <select class="form-control" aria-describedby="inputGroupPrepend" id="userType" [(ngModel)]="userType"
                    name="userType">
              <option selected disabled>Select</option>
              <option *ngFor="let o of options">
                {{o.name}}
              </option>
            </select>
          </div>
          <div *ngIf="userType === 'Vendor'" class="input-group" style="margin-top:10px; margin-bottom:10px">
              <div class="input-group-prepend">
                <span class="input-group-text" id="vendorType" style="width: 100px">Vendor Type</span>
              </div>
  
              <select class="form-control" aria-describedby="inputGroupPrepend" id="vendorType" [(ngModel)]="vendorType"
                      name="vendorType">
                <option selected disabled>Select</option>
                <option *ngFor="let o of vendorOptions">
                  {{o.name}}
                </option>
              </select>
            </div>
          <div class="row justify-content-center">
              <input type="submit" style="margin: 20 auto;" type="submit" class="btn btn-success" (click)="signUp()">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
