<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12" style="min-height:500px;padding: 0">
  <div class="row">
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" style="padding: 0">

      <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12" style="padding: 0">
        <div class="card card-primary card-inverse">
          <div class="card-header" style="color: #fff;background-color: #303F9F;">
            <div class="row">
              <div class="col-8">
                <h5>Map Directions</h5>
              </div>
              <div class="col">
                <div class="spinner pull pull-right" *ngIf="routeDataRequestedAndNotRecieved"></div>
              </div>
            </div>
          </div>
          <div class="card-body">

            <div class="form">

              <div class="input-group" style="margin-top:10px; margin-bottom:10px">
                <div class="input-group-prepend">
                  <span style="width: 110px" class="input-group-text" id="inputGroupPrepend">Source</span>
                </div>
                <input type="text" class="form-control" aria-describedby="inputGroupPrepend" id="origin" required
                       #source>
              </div>

              <div class="input-group" style="margin-top:10px; margin-bottom:10px">
                <div class="input-group-prepend">
                  <span style="width: 110px" class="input-group-text" id="inputGroupPrepend2">Destination</span>
                </div>
                <input type="text" class="form-control" aria-describedby="inputGroupPrepend" id="destination" required
                       #destination>
              </div>
              <div class="input-group" style="margin-top:10px; margin-bottom:10px"></div>
              <button class="btn btn-primary" (click)=findRoute(); [disabled]="routeDataRequestedAndNotRecieved">Find
                Routes <i class="far fa-compass"></i>
              </button>
              <button class="btn btn-info" style="margin-left:5px" (click)=setCurrentPosition();>Locate Me <i
                class="fas fa-street-view"></i></button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12" style="padding: 0">
        <div class="card card-primary card-inverse" style="margin-top:10px">
          <div class="card-header" style="color: #fff;background-color: #303F9F;">
            <h5>Available Routes</h5>
          </div>
          <div *ngIf="null!= routeList && routeList.length > 0">
            <div class="card" *ngFor="let route of routeList">
              <div class="card-header">
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <h5 style="color: #009688">{{route.routeDescription}}</h5>
                    </div>
                    <div class="col">
                      <i class="fas fa-map-marked-alt pull-right" style="cursor:pointer; padding-top: 10px"
                         (click)="loadOnMap(route)" title="Show on Map"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col"><h6><span style="color:#607D8B">Total Distance</span> : <span
                      style="color:#212121"><b>{{route.totalDistance / 1000 | number : '0.0-2'}} Kms</b></span></h6>
                    </div>
                    <div class="col-auto"><h6><span style="color:#607D8B">Total Fare</span> : <span
                      style="color:#212121"><b>₹ {{route.totalFare}}</b></span></h6></div>
                  </div>
                  <div class="row">
                    <div class="col"><h6><span style="color:#607D8B">Total Time</span> : <span style="color:#212121"><b>{{route.totalDuration / 60 | number : '1.0-2'}} mins</b></span>
                    </h6></div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-2"><h6 style="color:#607D8B">Comfort</h6></div>
                    <div class="col">
                      <div class="progress" style="height: 20px;">
                        <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated"
                             role="progressbar" [attr.aria-valuenow]="route.comfortPercentage" aria-valuemin="0"
                             aria-valuemax="100" [style.width]="route.comfortPercentage + '%'">
                          <b>{{route.comfortPercentage | number : '0.0-2'}}</b>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row justify-content-center">
                    <div class="col">
                      <div class="list-group">
                        <a class="list-group-item list-group-item-action flex-column align-items-start"
                           *ngFor="let routeDate of route.route, let i=index">
                          <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1" style="color: #E91E63">{{letters[i]}}.&nbsp;{{routeDate.displayText}}</h6>
                            <small style="color:#607D8B" *ngIf="routeDate.mode == 'TRANSIT'">
                              ({{routeDate.transitDetails.vehicleType}})
                            </small>
                            <small style="color:#607D8B" *ngIf="routeDate.mode != 'TRANSIT'">({{routeDate.mode}})
                            </small>
                          </div>
                          <div class="container">
                            <div class="row" style="color:#607D8B">
                              <div class="col" align="center">
                                <small>Distance : <b>{{routeDate.distance / 1000 | number : '1.0-2'}} Kms</b></small>
                              </div>
                              <div class="col" align="center">
                                <small>Time : <b>{{routeDate.travelTime / 60 | number : '1.0-2'}} mins</b></small>
                              </div>
                              <div class="col" align="center">
                                <small>Fare : <b>₹ {{routeDate.fare}}</b></small>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
      <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12"></div>
      <div class="card card-primary card-inverse">
        <div class="card-header" style="color: #fff;background-color: #303F9F;">
          <h5>Travel Route</h5>
        </div>
        <div class="card-body">
          <div class="container" fxLayout="column">
            <div class="map" fxFlex="100%" #map>
              <agm-map [latitude]="lat" [longitude]="lng" [style.height.px]="map.offsetHeight" [zoom]="zoom">
                <ng-container *ngIf="!showMapDirections">
                  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </ng-container>
                <ng-container *ngIf="showMapDirections">
                  <agm-direction *ngFor="let waypoint of selectedMapRoute, let i=index"
                                 [origin]="waypoint.origin" [destination]="waypoint.destination"
                                 [renderOptions]="renderOptions" [markerOptions]="waypoint.markerOptions"
                  ></agm-direction>
                  <!--markerOptions]="waypoint.markerOptions"*/-->
                </ng-container>
              </agm-map>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
