agm-map {
  height: 100vh;
  widows: 180vh;
}

.card {
  border-radius: 0px;
}

.spinner {
  margin: 0px;
  height: 28px;
  width: 28px;
  animation: rotate 0.8s infinite linear;
  border: 5px solid #fff;
  border-right-color: transparent;
  border-radius: 50%;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}
